.box1{
    background-color: rgb(115, 255, 0);
    height: 100px;
    width: 100px;
    position: fixed;
    
}
.box2{
    background-color: rgb(255, 0, 0);
    height: 20px;
    width: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}