/*.container{
    width: 400px;
    height: 400px;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.div1 {
    background-color: red;
}

.div2 {
    background-color: blue;
} 
.div3 {
    background-color: green;
}

.div4 {  
 background-color: yellow;
}   */

.container {
    width: 512px;
    height: 256px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 

    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

/* grid-area: row-start / column-start / row-end / column-end; */
/*  .div1 { grid-area: 1 / 1 / 3 / 1; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 3 / 3 / 4; } */

.div {
    border: 2px solid black;
    border-radius: 12px;

}
.div1 {
    background-color: red;
    grid-row: span 3;
}

.div2 {
    background-color: blue;
} 
.div3 {
    background-color: green;
}

.div4 {  
 background-color: yellow;
}
.div5 { 
    background-color: purple;
 }
