.squareRed{
    background-color: red;
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.squareGreen{
    background-color: rgb(0, 167, 14);
    width: 250px;
    height: 250px;
    margin-left: 100px;
    margin-top: 100px;
    padding-left: 150px;
    padding-top: 150px;
} 
.squareBlue{
    background-color: rgb(0, 68, 255);
    width: 65px;
    height: 100px;
    padding-left: 35px;
} 
.photo{
    width: 100%;
    margin-top: 50px;
}